<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_start(form) }}

    {{ form_errors(form) }}

    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_label(form.current_password) }}
    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password) }}

    {{ form_widget(form._token) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
