{% extends "base.html.twig" %}

{% block title %}Path &mdash; {{ path.name }}{% endblock %}

{% block body %}
    <h1>{{ path.name }}</h1>

    <p>
        <strong>URL: </strong>{{ path.url }}
    </p>
    <div>
        <a href="{{ path('edit_path', {'id': path.id}) }}" class="btn btn-primary">Edit Page</a>
        {{ form_start(delete_form, {'attr': {'class': 'delete-form'}}) }}
        {{ form_widget(delete_form) }}
        {{ form_end(delete_form) }}
    </div>

    <hr>

    <div>
        <h2>Snapshots</h2>
        <button type="button" class="btn btn-primary">Request Snapshot</button>

        {% if path.snapshots|length == 0 %}
            <p>We don't appear to have any snapshots yet...</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Generated On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snapshot in snapshots %}
                    <tr>
                        <td>
                            <a href="#">{{ loop.revindex }}</a>
                        </td>
                        <td>{{ snapshot.created | date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
