{% extends "base.html.twig" %}

{% block title %}Path &mdash; {{ path.name }}{% endblock %}

{% block body %}
    <h1>{{ path.name }}</h1>

    <p>
    </p>
    <div class="row">
        {% if snapshot_image_data is defined %}
            <div class="col-md-2">
                <img class="img-responsive" src="data:image/png;base64,{{ snapshot_image_data }}" />
            </div>
        {% endif %}
        <div class="col-md-6">
            <ul class="list-unstyled path-actions">
                <li>
                    <strong>URL: </strong>{{ path.url }}
                </li>
                <li>
                    <a href="{{ path('edit_path', {'id': path.id}) }}" class="btn btn-primary">Edit Page</a>
                </li>
                <li>
                    <a href="{{ path('new_snapshot', {'id': path.id}) }}" class="btn btn-primary">New Snapshot</a>
                </li>
                <li>
                    {{ form_start(delete_form, {'attr': {'class': 'delete-form'}}) }}
                    {{ form_widget(delete_form) }}
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
    <hr>

    <div>
        <h2>Snapshots</h2>

        {% if path.snapshots|length == 0 %}
            <p>We don't appear to have any snapshots yet...</p>
        {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Captured On</th>
                        <th>Message</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for snapshot in snapshot_pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('show_snapshot', {'id': snapshot.id }) }}">{{ snapshot.created | date }}</a>
                        </td>

                        <td>
                            {% if snapshot.message %}
                                {{ snapshot.message }}
                            {% else %}
                                No message set
                            {% endif %}
                        </td>

                        <td>
                            {% set snapshot_class = '' %}
                            {% if snapshot.status == constant('STATUS_COMPLETE', snapshot) %}
                                {% set snapshot_class = 'label-success' %}
                            {% elseif snapshot.status == constant('STATUS_INCOMPLETE', snapshot) %}
                                {% set snapshot_class = 'label-danger' %}
                            {% endif %}
                            <span class="label {{ snapshot_class }}">{{ snapshot.status }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                {{ knp_pagination_render(snapshot_pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
