{% extends "base.html.twig" %}

{% block title %}Snapshot{% endblock %}

{% block body %}
    <h1>Snapshot</h1>

    <a class="btn btn-primary">View Mirror</a>

    <div class="row">
        {% if image is defined %}
            <div class="col-md-3">
                <img class="img-responsive" src="{{ vich_uploader_asset(image, 'imageFile') }}" />
            </div>
        {% endif %}
        <div class="col-md-6">
            <h2>Request Types</h2>
            <table class="table table-bordered table-snapshot">
                <tr>
                    <th>Request Type</th>
                    <th>Number of Requests</th>
                    <th>Size</th>
                    <th>Compressed Size</th>
                </tr>
                {% for type, data in request_data if type != 'All'%}
                    <tr>
                        <td>{{ type }}</td>
                        <td>{{ data.requests|length }}</td>
                        <td>{{ data.size|bytesToHuman }}</td>
                        <td>{{ data.compressed_size|bytesToHuman }}</td>
                    </tr>
                {% endfor %}
                <tr class="active">
                    <td><strong>Total</strong></td>
                    <td><strong>{{ request_data['All'].requests|length }}</strong></td>
                    <td><strong>{{ request_data['All'].size|bytesToHuman }}</strong></td>
                    <td><strong>{{ request_data['All'].compressed_size|bytesToHuman }}</strong></td>
                </tr>
            </table>

        </div>
    </div>

    <hr>

    {% include 'snapshot/includes/tabs.html.twig' %}


{% endblock %}
